/* CSS Variables */
:root {
    /* Colors from theme.json */
    --primary-color: var(--wp--preset--color--primary);
    --secondary-color: var(--wp--preset--color--secondary);
    --background-color: var(--wp--preset--color--background);
    --text-color: var(--wp--preset--color--text);

    /* Font sizes from theme.json */
    --font-size-small: var(--wp--preset--font-size--small);
    /* 0.8125rem // 13px */
    --font-size-medium: var(--wp--preset--font-size--medium);
    /* 1.25rem  // 20px */
    --font-size-large: var(--wp--preset--font-size--large);
    /* 2.25rem    // 36px */
    --font-size-x-large: var(--wp--preset--font-size--x-large);
    /* 2.625rem   // 42px */

    /* Layout from theme.json custom layout */
    --content-width: 800px;
    --max-width: var(--content-width);
    /* if they’re the same */
    --wide-width: 1200px;

    /* Misc */
    --block-gap: var(--wp--style--spacing--block-gap);
    --font-family: 'Arial', sans-serif;
    /* Not defined in theme.json, still custom */
}

/* Dark Theme Variables */
.dark-theme {
    --background-color: var(--wp--preset--color--text);
    --text-color: var(--wp--preset--color--background);
}



/* Reset Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* Global Styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    color: var(--primary-color);
}

p {
    margin: 0 0 1rem;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
}

/* Gutenberg Block Styles */
.wp-block {
    margin-bottom: var(--block-gap);
}

.wp-block-button__link {
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: var(--font-size-medium);
}

.wp-block-file__button {
    background: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
}