/* CSS Variables */
:root {
    --primary-color: #EE2455;
    --secondary-color: #005177;
    --background-color: #ffffff;
    --text-color: #333333;
    --font-family: 'Arial', sans-serif;
    --max-width: 800px;
    --content-width: 800px;
    --wide-width: 1200px;
    --font-size-small: 13px;
    --font-size-medium: 20px;
    --font-size-large: 36px;
    --font-size-x-large: 42px;
    --block-gap: 1.5rem;
}

/* Dark Theme Variables */
.dark-theme {
    --background-color: #333333;
    --text-color: #ffffff;
}



/* Reset Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* Global Styles */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    color: var(--primary-color);
}

p {
    margin: 0 0 1rem;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem;
}

/* Gutenberg Block Styles */
.wp-block {
    margin-bottom: var(--block-gap);
}

.wp-block-button__link {
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 9999px;
    box-shadow: none;
    text-decoration: none;
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    font-size: var(--font-size-medium);
}

.wp-block-file__button {
    background: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
}